#### Basic Imports

In [54]:
# importing necessary libraries 
import numpy as np      # For numerical openrations
import pandas as pd     # for data manupalation and analysis
import matplotlib.pyplot as plt # for data visualization 
%matplotlib inline

# Import wordcount for text visualization
from wordcloud import WordCloud 

# Import nltk for natuaral languase processing
import nltk 
from nltk.corpus import stopwords # for stop words
from nltk.stem import WordNetLemmatizer

# Downloading NLTK data
nltk.download('stopwords') # Downloading stopwords data
nltk.download('punkt') # Downloading tokenizer data
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ranjit/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/ranjit/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/ranjit/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [55]:
# Read CSV file
df = pd.read_csv('spam.csv')

# Display first few rows of the DataFrame
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [56]:
# Drop empty columns
df.drop(columns= ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [57]:
# Rename the columns name V1 to 'target' and V2 to 'text'
df.rename(columns= {'v1': 'target', 'v2': 'text'}, inplace=True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

#### Data Preprocessing

In [58]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df['target'] = encoder.fit_transform(df["target"])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [59]:
# Check for duplocate values

df.duplicated().sum()

np.int64(403)

In [60]:
len(df)

5572

In [61]:
# Remove duplicate values
df = df.drop_duplicates(keep='first')
len(df)

5169

#### Feature Engineering

In [62]:
# Improting Porter stemmer for text stemming
from nltk.stem.porter import PorterStemmer

# Import string module to handle special characters
import string

# Creating an instance of the PorterStemmer

ps = PorterStemmer()

In [65]:
# LowerCase transformation and text preprocessing
def transform_text(text):
    # Transform the text to lowercase
    text = text.lower()

    # Tokenization using nltk
    text = nltk.word_tokenize(text)

    # Removing special characters 
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)

    # Removing stop words and punctuations
    text = y[:]
    y.clear()

    # look through tokens and remove stopwords and punctuations
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)

    # Stemming using Porter Stemmer
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))

    # Join the processed tokens back into a single string
    return " ".join(y)

In [66]:
transform_text('Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...')

'go jurong point crazi avail bugi n great world la e buffet cine got amor wat'

In [67]:
df['transformed_text'] = df['text'].apply(transform_text)
df.head()

   target  ...                                   transformed_text
0       0  ...  go jurong point crazi avail bugi n great world...
1       0  ...                              ok lar joke wif u oni
2       1  ...  free entri 2 wkli comp win fa cup final tkt 21...
3       0  ...                u dun say earli hor u c alreadi say
4       0  ...               nah think goe usf live around though

[5 rows x 3 columns]

In [70]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
tfid = TfidfVectorizer(max_features= 500)

In [72]:
x = tfid.fit_transform(df['transformed_text']).toarray()
y = df['target'].values

#### Train test split

In [73]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.20, random_state = 2)

#### Model Training

In [75]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [94]:
svc = SVC(kernel= "sigmoid", gamma  = 1.0, probability=True)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth = 5)
lrc = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfc = RandomForestClassifier(n_estimators = 50, random_state = 2 )
abc = AdaBoostClassifier(n_estimators = 50, random_state = 2)
bc = BaggingClassifier(n_estimators = 50, random_state = 2)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 2)
gbdt = GradientBoostingClassifier(n_estimators = 50, random_state = 2)

In [95]:
clfs = {
    'SVC': svc,
    'KNN': knc,
    'NB': mnb,
    'DT': dtc,
    'LR': lrc,
    'RF': rfc,
    'Adaboost': abc,
    'Bgc': bc,
    'ETC': etc,
    'GBDT': gbdt,
    
}

#### Model Evalution

In [96]:
from sklearn.metrics import accuracy_score, precision_score
def train_classifier(clfs, x_train, y_train, x_test, y_test):
    clfs.fit(x_train, y_train)
    y_pred = clfs.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    return accuracy, precision

In [97]:
accuracy_result = []
precision_result = []
for name, clfs in clfs.items():
    current_accuracy, current_presision = train_classifier(clfs, x_train, y_train, x_test, y_test)
    print()
    print("For: ", name) 
    print("Accuracy: ", current_accuracy)
    print("Precision: ", current_presision)

    accuracy_result.append(current_accuracy)
    precision_result.append(current_presision)

For:  SVC
Accuracy:  0.9661508704061895
Precision:  0.9327731092436975

For:  KNN
Accuracy:  0.9274661508704062
Precision:  1.0

/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: divide by zero encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: divide by zero encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: divide by zero encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/ranjit/Library/Python/3.9/lib/python/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

For:  NB
Accuracy:  0.9709864603481625
Precision:  0.9655172413793104

For:  DT
Accuracy:  0.937137330754352
Precision:  0.9010989010989011

For:  LR
Accuracy:  0.9622823984526112
Precision:  0.9541284403669725

For:  RF
Accuracy:  0.971953578336557
Precision:  0.943089430894309

For:  Adaboost
Accuracy:  0.9235976789168279
Precision:  0.8734177215189873

For:  Bgc
Accuracy:  0.965183752417795
Precision:  0.9180327868852459

For:  ETC
Accuracy:  0.9729206963249516
Precision:  0.9296875

For:  GBDT
Accuracy:  0.9506769825918762
Precision:  0.9393939393939394